body{
    background-color: black; 
}

.masterContainer{
    width: 98vw;
    height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.masterContainer img{
    width: 80vw;
    height: 55vh;
}
/* <!------------------------------------------------  Particulas -----------------------------------------------------> */
#particles-js{
    width: 98vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
}
/* <!-------------------------------------------------  Boton ---------------------------------------------------------> */
.boton{
    width: 98vw;
    margin: 3% 0% 5% 0%;
}

.boton img{
    position: relative;
    left: 47.5%;
    height: 80px;
    width: 60px;
    z-index: 5;
}

.boton img:hover{
    transform: scale(1.3);
    cursor: pointer;
    transition: 2s;
}

.boton img:not(:hover) {
    transform: scale(1); /* Vuelve al tamaño original lentamente al retirar el cursor */
    transition: 2s;
}
/* ----------------------------------------------------Menu HyS---------------------------------------- */

#menuHyS {
    display: none;
    position: absolute;
    top: 15%;
    left: 25%;
   
}
.btn-card{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

}
.carta{
    margin: 20px;
    height: 400px;
    width: 300px;
    z-index: 3;
}
.carta a{
    width: 100px;
    height: 100px;
   
}

.carta img{
    height: 300px;
    width: 300px;
    border-radius: 30px;
    
}


.carta img:not(:hover) {
    opacity: 0.5;
    
}
.carta img:hover{
    cursor: pointer;
    opacity: 1;
   
   
}
/* -----------------------------------------Seccion H-------------------------------------------- */
.seccionHollow{
    width: 98vw;
    display: none;
    
    align-content: center;
    justify-content: center;
    align-items: center;
    
}
.seccionHollow img{
    width: 95vw;
    height: 98vh;
    z-index: 0;
   
}

/* =================================================Nav 1 king================================================================== */
header{
    position: absolute;
    top: 104%;
    z-index: 10;
    width: 95vw;
    height: 3rem;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header li a{
    color:rgba(255,255,255,.55);
    text-decoration: none;   
}
.linav{
    padding: 0.5rem 1rem;
}
.linav a:hover{
    cursor: pointer;
    color:white;
    transition: 1s;
}
nav ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}

.king-logo img{
    height: 120px;
    width: 100px;
}
.king-logo:hover img:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.5s;
}

nav ul li{
    display: flex;
    align-items: center;
}
.fa-facebook:hover, .fa-brands:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.5s;
    color: pink;
}
/* ...............................................BotonesNav............................................ */


.btns-pink ul li{
   padding: 10px;
   margin-left: 10px;
}

#btn-pink{
    height: 100%;
    background-color: #18182ebe;
    border-radius: 10px 10px 10px 10px;
    font-weight: bolder;
    color: palevioletred;

}
#btn-pink:hover{
    background-color: rgb(219, 154, 165);
    border-radius: 10px 10px 10px 10px;
    color: #24243e;
    cursor: pointer; 
}
/* ..............................................boton dos............................................. */
.botonDos{
   
    display: none;
    position: absolute;
    align-items: end;
    justify-content:center;
    width: 100px;
    height: 600px;
    z-index: 3;
   
}

.botonDos img{
    height: 80px;
    width: 60px;
}

.botonDos img:hover{
    transform: scale(1.3);
    cursor: pointer;
    transition: 2s;
}

.botonDos img:not(:hover) {
    transform: scale(1); /* Vuelve al tamaño original lentamente al retirar el cursor */
    transition: 2s;
}
/* -----------------------------------------Silksong section-------------------------------------------- */
.seccionSilksong{
    width: 98vw;
    display: none;
    
    align-content: center;
    justify-content: center;
    align-items: center;
    
}
.seccionSilksong img{
    width: 95vw;
    height: 98vh;
    z-index: 0;
   
}
/* ...............................................boton tres............................................. */
.botonTres{
    display: none;
    width: 98vw;
    margin: -8% 0% 2% 0%;
}

.botonTres img{
    position: relative;
    left: 48.3%;
    height: 80px;
    width: 60px;
    z-index: 5;
}

.botonTres img:hover{
    transform: scale(1.3);
    cursor: pointer;
    transition: 2s;
}

.botonTres img:not(:hover) {
    transform: scale(1); /* Vuelve al tamaño original lentamente al retirar el cursor */
    transition: 2s;
}

/* ------------------------------------------MediaQuery------------------------------------------------ */
@media (max-width: 360px){

body{
    
    height: 570px;
    width: 360px;
}
body>*{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#particles-js{
    height: 570px;
    width: 360px;
}
#logoHollow{
    height: 400px;
    width: 350px;
}
#logoHollow img{
    height: 150px;
    width: 320px;
}

#miBoton,#miBotonDos,#miBotonTres {
    height: 100px;
    width: 350px;
}

#miBotonDos img{
    height: 80px;
    width: 60px;
}

.boton img{

    left: 0%;
 
}
/* ============================================================= */
#menuHyS {
    
    top: 3%;
    
    height: 470px;
    width: 230px;
}
.carta img:not(:hover) {
    opacity: 1;
    
}
.btn-card{
    
    width: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
}
#btnHollow{
    height: 140px;
}
.carta{
    
    height: 200px;
    width: 200px;
}
.carta img{
    
    width: 150px;
    height:150px;  
}


/* ============================================================= */
.seccionHollow{
    width: 350px;
    height: 570px;
    overflow: hidden;

}
.seccionHollow img{
    width: 760px;
    height: 500px;
    

}
.king{
    display: none;
}
.seccionSilksong{
    width: 350px;
    height: 570px;
    overflow: hidden;

}
.seccionSilksong img{
    width: 760px;
    height: 500px;
    
}
}