body{
    background-color: black; 
}

.masterContainer{
    width: 98vw;
    height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
   
}

.masterContainer img{
    width: 80vw;
    height: 55vh;
}
/* <!-----------------------  Particulas -------------------------> */
#particles-js{
    width: 98vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
}
/* <!-----------------------  Boton -------------------------> */
.boton{
    width: 98vw;
    margin: 3% 0% 5% 0%;
    
}

.boton img{
    position: relative;
    left: 47.5%;
    height: 80px;
    width: 60px;
    z-index: 5;
    
}

.boton img:hover{
    transform: scale(1.3);
    cursor: pointer;
    transition: 2s;
}

.boton img:not(:hover) {
    transform: scale(1); /* Vuelve al tamaño original lentamente al retirar el cursor */
    transition: 2s;
}
/* ----------------------------------------------------Menu HyS---------------------------------------- */

#menuHyS {
    display: none;
    position: fixed;
    top: 15%;
    left: 25%;
    z-index: 5;
}
.btn-card{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.carta{
    margin: 20px;
    height: 400px;
    width: 300px;
    
}
.carta a{
    width: 100px;
    height: 100px;
    z-index: 10;
}

.carta img{
    height: 300px;
    width: 300px;
    border-radius: 30px;
    
}


.carta img:not(:hover) {
    opacity: 0.5;
    
}
.carta img:hover{
    cursor: pointer;
   
}
/* -----------------------------------------Hollow section-------------------------------------------- */
.seccionHollow{
    width: 98vw;
    display: none;
    
    align-content: center;
    justify-content: center;
    align-items: center;
    
}
.seccionHollow img{
    width: 95vw;
    height: 98vh;
    z-index: 0;
   
}

/* ===================================Nav======================================================================= */
header{
    position: absolute;
    top: 102%;
    z-index: 10;
    width: 95vw;
    height: 5rem;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navv{
    display: flex;
    align-items: center;
    margin-left: 4rem;
}

nav{
    margin-top: 10px;
}
header h3{
    color: white;
    
    font-size: 1.25rem;
}
header li a{
    color:rgba(255,255,255,.55);
    text-decoration: none;
    
}
.linav{
    padding: 0.5rem 1rem;
}
.linav a:hover{
    cursor: pointer;
    color:white;
    transition: 1s;
}

#comprar{
  padding: 0.5rem 1rem;
}
#comprar:hover{
    background-color: pink;
    border-radius: 10px 10px 10px 10px;
    color:white;
    cursor: pointer;  
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}

.navv img{
    height: 120px;
    width: 100px;
}

nav ul li{
    display: flex;
    align-items: center;
}
#comprar{
    background-color: #24243e8f;
    border-radius: 10px 10px 10px 10px;
    font-weight: bolder;
    color: palevioletred;
}

.fa-facebook:hover, .fa-brands:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.5s;
    color: pink;
}

/* .....................................................boton dos............................................. */
.botonDos{
    display: none;
    width: 98vw;
    margin: -8% 0% 2% 0%;
}

.botonDos img{
    position: relative;
    left: 48.3%;
    height: 80px;
    width: 60px;
    z-index: 5;
}

.botonDos img:hover{
    transform: scale(1.3);
    cursor: pointer;
    transition: 2s;
}

.botonDos img:not(:hover) {
    transform: scale(1); /* Vuelve al tamaño original lentamente al retirar el cursor */
    transition: 2s;
}
/* -----------------------------------------Silksong section-------------------------------------------- */
.seccionSilksong{
    width: 98vw;
    display: none;
    
    align-content: center;
    justify-content: center;
    align-items: center;
    
}
.seccionSilksong img{
    width: 95vw;
    height: 98vh;
    z-index: 0;
   
}
/* .....................................................boton tres............................................. */
.botonTres{
    display: none;
    width: 98vw;
    margin: -8% 0% 2% 0%;
}

.botonTres img{
    position: relative;
    left: 48.3%;
    height: 80px;
    width: 60px;
    z-index: 5;
}

.botonTres img:hover{
    transform: scale(1.3);
    cursor: pointer;
    transition: 2s;
}

.botonTres img:not(:hover) {
    transform: scale(1); /* Vuelve al tamaño original lentamente al retirar el cursor */
    transition: 2s;
}

/* ------------------------------------------MediaQuery------------------------------------------------ */
@media (max-width: 360px){
body>*{
    width: 70vw;
    height: 40vh; 
}

.masterContainer img{
width: 88vw;
height: 25vh;
}
.carta img{
left: 148px;
}
.card{
    
margin: 2%;
left: -60px;
}

.btn-card{
flex-flow: column;

margin-top: 50px;
margin-left: 0px;
width: 88vw;
height: 25vh;
}
.carta img{

margin-left: 0px;
height: 200px;
width: 200px;

}
}